@charset "utf-8";
@import "../../lib/fragment/yo-dialog";

/**
 * yo-dialog扩展
 */

 @include yo-dialog(
   $name:a,
   $title-font-size: 20px,
   $radius: 20px
 ){
   position: absolute;
   left: 50%;
   top: 50%;
   @include transform(translate(-50%,-50%));

  //  .title{
  //    font-size: 20px !important;
  //  }
 };
